@import "tailwindcss";

@font-face {
  font-family: "MNewsPlantin";
  src: url("/fonts/MNewsPlantin.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-mnews {
  font-family: "MNewsPlantin", serif;
}
