input[type="text"] {
    outline: none !important;
    box-shadow:none !important;
}

/* PROJECT IMAGE STYLE */
.project-image { cursor: pointer !important; }
.project-image-title { font-size: 14px; margin-bottom: 0px; text-align: left !important; }
.project-image-link { font-size: 18px; text-align: left !important; margin-bottom: 25px; margin-right: 5px !important; color: #5f6368 !important }
.project-desc {
    background-color: #141518;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
.close-icon { cursor: pointer; }

/* NAVBAR CHANGES */
.navbar-google {
    background-color: #fff;
}

.search-google {
    border: 1px solid #ebebeb !important;
    border-right: 0px !important;
    border-top-left-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.search-button-google {
    background-color: transparent !important;
    border-color: #ebebeb !important;
    border-left: 0px !important;

    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
    
    outline: none !important;
}

/* FOOTER */
.footer-google {
    width: 100%;
    background-color: #F2F2F2;
    bottom: 0px;

    padding-top: 20px !important;
    padding-bottom: 20px !important;

    font-size: 13px;
    color: rgba(0, 0, 0, 0.54) !important;
}

/* TAB CHANGES */
.nav-link { border: 0px !important; }

.nav-item { color: #70757a !important; border-color: #fff #fff #dee2e6 #fff !important; }
.nav-item:hover { color: #4285f4 !important; }
.nav-item.active { color: #4285f4 !important; border-bottom: 3px solid !important; border-bottom-color: #4285f4; }

/* TYPES OF P CLASSES */
.results-title { font-size: 13px; }
.tab-title { font-size: 13px; }

/* FONT COLOURS */
.blue { color: #4285f4; }
.dimmedgrey { color: #70757a; }

/* PADDING */
.left-padding { padding-left: 100px !important; }
.right-padding { padding-right: 100px !important; }
.pagination-padding { padding-left: 25% !important; }

/* PAGINATION STYLE CHANGES */
.page-link { border: none !important; padding-left: 10px !important; padding-right: 10px !important; }
.page-link:hover { background-color: #fff !important; }
.page-item.active .page-link { background-color: transparent !important; }
.page-item .index { color: #4285f4; }
.pagination-name.start { color: #4285F4; font-weight: 700; font-size: 22px;}
.pagination-name.middle { color: #EA4334; font-weight: 700; font-size: 22px; }
.pagination-name.end  { color: #FBBC03; font-weight: 700; font-size: 22px; }

/* LINK ROUNDED BUTTON */
.rounded-link-btn {
    padding: 5px 25px 5px 25px !important;
    background-color: #2a2b2e !important;
    border-radius: 45px !important;
    border: transparent !important;
    margin-left: 10px;
    margin-right: 10px;
}

/* SCREEN SIZE CHANGES */
@media screen and (max-width: 992px) {
    .left-padding { padding-left: 20px !important; }
    .right-padding { padding-right: 20px !important; }
    .pagination-padding { padding-left: 35% !important; }
    .project-image-title { text-align: center !important; }
    .project-image-link { text-align: center !important; }
    .row { margin-right: 15px !important; }
}